confluence-translations-gen:registry=https://jfrog.elhub.cloud/artifactory/api/npm/elhub-npm-release-local
@elhub:registry=https://jfrog.elhub.cloud/artifactory/api/npm/elhub-npm-release-local/
legacy-peer-deps=true
email=sander.sandoy@statnett.no
