! special
*.depth:        32
*.foreground:   #cbdbd2
*.background:   #1e2e3b
*.cursorColor:  #cbdbd2

! black
*.color0:       #0d0f0e
*.color8:       #f37e28

! red
*.color1:       #171a18
*.color9:       #fc403d

! green
*.color2:       #f2ff61
*.color10:      #b3ba57

! yellow
*.color3:       #f37e28
*.color11:      #50a1b0

! blue
*.color4:       #59c1d3
*.color12:      #59c1d3

! magenta
*.color5:       #7e8883
*.color13:      #a3a85e

! cyan
*.color6:       #a7b4ad
*.color14:      #53bf3d

! white
*.color7:       #d7e6de
*.color15:      #329bab


URxvt*.font:xft:DejaVu Sans Mono for Powerline:autohint=true:pixelsize=16
# Add resize-font to .urxvt/ext/resize-font
URxvt.perl-ext-common:default,matcher,resize-font,
urxvt.url-launcher: /usr/bin/google-chrome
urxvt.matcher.button: 1
urxvt*background: rgba:0000/0000/0200/c800
urxvt*cursorColor: #329bab

URxvt.keysym.C-Down:  resize-font:smaller
URxvt.keysym.C-Up:  resize-font:bigger

urxvt.scrollBar: false